*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    position: relative;
}
h1{
    color:red ;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    margin: 5%;
}
div{
    position: relative;
    padding: 10px;
    height: 250px;
    float: left;
}
.menu1, .menu2, .menu3{
    position: relative;
    border: 2px solid black;
    background-color: grey;
    margin: 1%;
    width: 30%;
    float: left;
}
.chicken,.beef,.sushi{
    position: relative;
    left: 77.5%;
    bottom: 5%;
}
section{
    border: 1px solid black;
    text-align: center;
    font-size: 120%;
    width: 25%;
}
.chicken{
    background-color: crimson;
}
.sushi{
    background-color: darkolivegreen;
}
.beef{
    background-color: mediumturquoise;
}
@media(min-width: 992px) and (max-width:1440px)
{
    .menu1, .menu2, .menu3
    {
        width: 27.5%;
        margin: 2%;
        float: left;    
    }
    .chicken,.beef,.sushi
    {
        left: 78.5%;
        bottom: 5%;    
    }   
}
@media(min-width : 768px) and (max-width:991px){
    .menu3{
        width: 97%;
        clear: both;
    }
    .chicken,.beef{
        left: 78.2%;
    }
    .sushi{
        left: 76.5%
    }
    .menu1, .menu2{
        width: 47.5%;
        float: left;
    }
}
@media(min-width:300px) and (max-width:767px){
    .menu1, .menu2, .menu3{
        width: 97%;
        clear: both;
    }
    .chicken,.beef,.sushi
    {
        left: 77.5%;
        bottom: 5%;    
    }
}
